<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply Notification</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .email-wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-family: sans-serif;
        background-color: #fff;
      }

      .email-header {
        background-color: #7863e4;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }

      .email-body {
        padding: 20px;
      }

      span {
        font-weight: bold;
      }

      .email-footer {
        background-color: #7863e4;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }

      .email-footer a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
      }

      p{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      span{
        font-size: 16px;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>

    <div class="email-wrapper">
      <div class="email-header">
        <h1>New Reply Notification</h1>
      </div>

      <div class="email-body">
        <p>Hello <span class="user-name"><%= name %></span></p>
        <p>A new reply has been added to your question in the video <span>"<%= title %>"<span>.</p>
        <p>Please login to our website to view the reply and continue the discussion
        </p>
        <p>Thank you for being a part of our community!</p>
      </div>

      <div class="email-footer">
        <p>If you have any questions, please don't hesitate to contact us at <a href="mailto:ujjwal2327@gmail.com"> ujjwal2327@gmail.com </a>
        </p>
      </div>
    </div>
  </body>
</html>
